
.post{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
/* Add a card effect for articles */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    padding: 30px;
    text-align: center;
    height: 400px;

}
.card img{
    height: 500px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}