.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    padding: 100px 0 120px;

    .selected {
        border: 1px solid #979797;
    }
}

.product-section-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    min-height: 66px;
    cursor: pointer;

    &:hover {
        border: 1px solid #979797;
    }
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    padding: 30px;
    text-align: center;
    height: 400px;

}

.product-section-image img{
    max-height: 390px;
}

.product-section-information {

    p {
        margin-bottom: 16px;
    }

}

.product-section-title {
    margin-bottom: 0;
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

$background_color_1: #eee;

/* Clear floats after containers */
/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
/* Increase the font-size of a span element */
/* Add media queries for responsiveness. This will center both the text and the image inside the container */
.containers {
    border: 2px solid #ccc;
    background-color: $background_color_1;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }
    span {
        font-size: 20px;
        margin-right: 15px;
    }
    h4{
        font-size: 30px ;
    }
    textarea{
        height: 180px;
    }
}
@media (max-width: 600px) {
    .containers {
        text-align: center;
        img {
            margin: auto;
            float: none;
            display: block;
        }
    }
}
.comments{
    margin-top: 80px;
}
