
 //.order_table{
 //  $color_1: white;
 //  $font_family_1: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 //  $border_color_1: white;
 //
 //  table {
 //    font-family: $font_family_1;
 //    font-size: 22px;
 //    border-collapse: collapse;
 //    text-align: center;
 //    border-spacing: 5px;
 //  }
 //  th {
 //    background: #AFCDE7;
 //    color: $color_1;
 //    padding: 10px 20px;
 //    border-style: solid;
 //    border-width: 0 1px 1px 0;
 //    border-color: $border_color_1;
 //    &:first-child {
 //      text-align: left;
 //    }
 //  }
 //  td {
 //    &:first-child {
 //      background: #AFCDE7;
 //      color: $color_1;
 //      padding: 10px 20px;
 //      text-align: left;
 //    }
 //    border-style: solid;
 //    border-width: 0 1px 1px 0;
 //    border-color: $border_color_1;
 //    background: #D8E6F3;
 //  }
 //}